<form method="POST" action="/animals/<%= @animal.id %>">

 <p>Name: <%= @animal.name %></p>

 <label for="training-status">Training required?</label>
 <select id="training-status" name="training_status">
   <option <%= "selected" if (@animal.training_status == 't') %> value="<%=true%>">Yes</option>
   <option <%= "selected" if (@animal.training_status == 'f') %> value="<%=false%>">No</option>
 </select>

 <label for="training-status">Vet treatment required?</label>
 <select id="training-status" name="training_status">
   <option <%= "selected" if (@animal.vet_status == 't') %> value="<%=true%>">Yes</option>
   <option <%= "selected" if (@animal.vet_status == 'f') %> value="<%=false%>">No</option>
 </select>

  <input type="submit" value="Save Changes"/>
  
</form>