<p>Name: <%= @animal.name %></p>
<p>Type: <%= @animal.type %></p>
<p>Admission Date: <%= @animal.admission_date %></p>
<p>Ready for adoption?: <%= @animal.adoptable %></p>
<p>Owner: <%= @animal.owner_id %></p>
<p>In training?: <%= @animal.training_status %></p>
<p>Waiting for vet treatment?: <%= @animal.vet_status %></p>